package ${package}.controller;

import java.util.List;
import java.util.Map;
import ${package}.commons.enumresource.StateEnum;
import ${package}.config.log.Log;
import org.apache.shiro.authz.annotation.RequiresPermissions;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.ui.Model;
import org.springframework.web.bind.annotation.*;
import org.springframework.stereotype.Controller;
import lombok.extern.slf4j.Slf4j;

import ${package}.entity.${className};
import ${package}.service.${className}Service;
import ${package}.commons.utils.PageUtils;
import ${package}.commons.utils.Query;
import ${package}.commons.utils.ResultUtil;


/**
 * ${comments}
 * 
 * @author ${author}
 * @email ${email}
 * @date ${datetime}
 */
@Slf4j
@Controller
@RequestMapping("${pathName}")
public class ${className}Controller {
	@Autowired
	private ${className}Service ${classname}Service;
	
    /**
     * 跳转到列表页
     */
    @RequestMapping("/list")
    @RequiresPermissions("${pathName}:list")
    public String list() {
        return "${pathName}/list";
    }
    
	/**
	 * 列表数据
	 */
    @ResponseBody
	@RequestMapping("/listData")
	@RequiresPermissions("${pathName}:list")
	public ResultUtil listData(@RequestParam Map<String, Object> params){
		//查询列表数据
        Query query = new Query(params);

		List<${className}> ${classname}List = ${classname}Service.getList(query);
		int total = ${classname}Service.getCount(query);
		
		PageUtils pageUtil = new PageUtils(${classname}List, total, query.getLimit(), query.getPage());
		
		return ResultUtil.ok().put("page", pageUtil);
	}

    /**
     * 跳转到新增页面
     **/
    @RequestMapping("/add")
    @RequiresPermissions("${pathName}:save")
    public String add(){
        return "${pathName}/add";
    }

    /**
     *   跳转到修改页面
     **/
    @RequestMapping("/edit/{id}")
    @RequiresPermissions("${pathName}:update")
    public String edit(Model model, @PathVariable("id") ${pk.attrType} id){
		${className} ${classname} = ${classname}Service.get(id);
        model.addAttribute("model",${classname});
        return "${pathName}/edit";
    }

	/**
	 * 信息
	 */
    @ResponseBody
    @RequestMapping("/info/{${pk.attrname}}")
    @RequiresPermissions("${pathName}:info")
    public ResultUtil info(@PathVariable("${pk.attrname}") ${pk.attrType} ${pk.attrname}){
        ${className} ${classname} = ${classname}Service.get(${pk.attrname});
        return ResultUtil.ok().put("${classname}", ${classname});
    }

    /**
	 * 保存
	 */
    @ResponseBody
    @Log("保存${comments}")
	@RequestMapping("/save")
	@RequiresPermissions("${pathName}:save")
	public ResultUtil save(@RequestBody ${className} ${classname}){
		${classname}Service.save(${classname});
		
		return ResultUtil.ok();
	}
	
	/**
	 * 修改
	 */
    @ResponseBody
    @Log("修改${comments}")
	@RequestMapping("/update")
	@RequiresPermissions("${pathName}:update")
	public ResultUtil update(@RequestBody ${className} ${classname}){
		${classname}Service.update(${classname});
		
		return ResultUtil.ok();
	}

    /**
     * 启用
     */
    @ResponseBody
    @Log("启用${comments}")
    @RequestMapping("/enable")
    @RequiresPermissions("${pathName}:update")
    public ResultUtil enable(@RequestBody ${pk.attrType}[] ids){
        String stateValue=StateEnum.ENABLE.getCode();
		${classname}Service.updateState(ids,stateValue);
        return ResultUtil.ok();
    }
    /**
     * 禁用
     */
    @ResponseBody
    @Log("禁用${comments}")
    @RequestMapping("/disable")
    @RequiresPermissions("${pathName}:update")
    public ResultUtil disable(@RequestBody ${pk.attrType}[] ids){
        String stateValue=StateEnum.DIASABLE.getCode();
		${classname}Service.updateState(ids,stateValue);
        return ResultUtil.ok();
    }
	
	/**
	 * 删除
	 */
    @ResponseBody
    @Log("删除${comments}")
	@RequestMapping("/delete")
	@RequiresPermissions("${pathName}:delete")
	public ResultUtil delete(@RequestBody ${pk.attrType}[] ${pk.attrname}s){
		${classname}Service.deleteBatch(${pk.attrname}s);
		
		return ResultUtil.ok();
	}
	
}
