<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cc.niushuai.graduate.mapper.EduQuestionsMapper">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="cc.niushuai.graduate.entity.EduQuestions" id="eduQuestionsMap">
        <result property="id" column="ID"/>
        <result property="cusId" column="CUS_ID"/>
        <result property="title" column="TITLE"/>
        <result property="content" column="CONTENT"/>
        <result property="markdown" column="markdown"/>
        <result property="html" column="html"/>
        <result property="type" column="TYPE"/>
        <result property="status" column="STATUS"/>
        <result property="replyCount" column="REPLY_COUNT"/>
        <result property="browseCount" column="BROWSE_COUNT"/>
        <result property="praiseCount" column="PRAISE_COUNT"/>
        <result property="state" column="STATE"/>
        <result property="addTime" column="ADD_TIME"/>
        <result property="updateTime" column="UPDATE_TIME"/>
        <result property="createBy" column="CREATE_BY"/>
        <result property="updateBy" column="UPDATE_BY"/>
    </resultMap>

	<select id="get" resultType="cc.niushuai.graduate.entity.EduQuestions">
		select * from edu_questions where ID = #{value}
	</select>

	<select id="getList" resultType="cc.niushuai.graduate.entity.EduQuestions">
		select * from edu_questions t <include refid="where_clause" />
        <choose>
            <when test="sidx != null and sidx.trim() != ''">
                order by ${sidx} ${order}
            </when>
			<otherwise>
                order by ID desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="getCount" resultType="int">
		select count(*) from edu_questions t  <include refid="where_clause" />
	</select>

    <!-- 搜索数据区域 -->
    <sql id="where_clause">
        <where>
            1=1
            <if test="id != null and id != ''"> and t.ID = #{id} </if>
    		<if test="idVague != null and idVague != ''"> and t.ID like concat('%',#{idVague},'%') </if>
            <if test="cusId != null and cusId != ''"> and t.CUS_ID = #{cusId} </if>
    		<if test="cusIdVague != null and cusIdVague != ''"> and t.CUS_ID like concat('%',#{cusIdVague},'%') </if>
            <if test="title != null and title != ''"> and t.TITLE = #{title} </if>
    		<if test="titleVague != null and titleVague != ''"> and t.TITLE like concat('%',#{titleVague},'%') </if>
            <if test="content != null and content != ''"> and t.CONTENT = #{content} </if>
    		<if test="contentVague != null and contentVague != ''"> and t.CONTENT like concat('%',#{contentVague},'%') </if>
			<if test="markdown != null and markdown != ''"> and t.markdown = #{markdown} </if>
			<if test="markdownVague != null and markdownVague != ''"> and t.markdown like concat('%',#{markdownVague},'%') </if>
			<if test="html != null and html != ''"> and t.html = #{html} </if>
			<if test="htmlVague != null and htmlVague != ''"> and t.html like concat('%',#{htmlVague},'%') </if>
            <if test="type != null and type != ''"> and t.TYPE = #{type} </if>
    		<if test="typeVague != null and typeVague != ''"> and t.TYPE like concat('%',#{typeVague},'%') </if>
            <if test="status != null and status != ''"> and t.STATUS = #{status} </if>
    		<if test="statusVague != null and statusVague != ''"> and t.STATUS like concat('%',#{statusVague},'%') </if>
            <if test="replyCount != null and replyCount != ''"> and t.REPLY_COUNT = #{replyCount} </if>
    		<if test="replyCountVague != null and replyCountVague != ''"> and t.REPLY_COUNT like concat('%',#{replyCountVague},'%') </if>
            <if test="browseCount != null and browseCount != ''"> and t.BROWSE_COUNT = #{browseCount} </if>
    		<if test="browseCountVague != null and browseCountVague != ''"> and t.BROWSE_COUNT like concat('%',#{browseCountVague},'%') </if>
            <if test="praiseCount != null and praiseCount != ''"> and t.PRAISE_COUNT = #{praiseCount} </if>
    		<if test="praiseCountVague != null and praiseCountVague != ''"> and t.PRAISE_COUNT like concat('%',#{praiseCountVague},'%') </if>
            <if test="state != null and state != ''"> and t.STATE = #{state} </if>
    		<if test="stateVague != null and stateVague != ''"> and t.STATE like concat('%',#{stateVague},'%') </if>
            <if test="addTime != null and addTime != ''"> and t.ADD_TIME = #{addTime} </if>
    		<if test="addTimeVague != null and addTimeVague != ''"> and t.ADD_TIME like concat('%',#{addTimeVague},'%') </if>
            <if test="updateTime != null and updateTime != ''"> and t.UPDATE_TIME = #{updateTime} </if>
    		<if test="updateTimeVague != null and updateTimeVague != ''"> and t.UPDATE_TIME like concat('%',#{updateTimeVague},'%') </if>
            <if test="createBy != null and createBy != ''"> and t.CREATE_BY = #{createBy} </if>
    		<if test="createByVague != null and createByVague != ''"> and t.CREATE_BY like concat('%',#{createByVague},'%') </if>
            <if test="updateBy != null and updateBy != ''"> and t.UPDATE_BY = #{updateBy} </if>
    		<if test="updateByVague != null and updateByVague != ''"> and t.UPDATE_BY like concat('%',#{updateByVague},'%') </if>
        </where>
    </sql>
	 
	<insert id="save" parameterType="cc.niushuai.graduate.entity.EduQuestions" useGeneratedKeys="true" keyProperty="id">
		insert into edu_questions
		(
			`CUS_ID`, 
			`TITLE`, 
			`CONTENT`, 
			`markdown`,
			`html`,
			`TYPE`,
			`STATUS`, 
			`REPLY_COUNT`, 
			`BROWSE_COUNT`, 
			`PRAISE_COUNT`, 
			`STATE`, 
			`ADD_TIME`, 
			`UPDATE_TIME`, 
			`CREATE_BY`, 
			`UPDATE_BY`
		)
		values
		(
			#{cusId}, 
			#{title}, 
			#{content}, 
			#{markdown},
			#{html},
			#{type},
			#{status}, 
			#{replyCount}, 
			#{browseCount}, 
			#{praiseCount}, 
			#{state}, 
			#{addTime}, 
			#{updateTime}, 
			#{createBy}, 
			#{updateBy}
		)
	</insert>

	<update id="update" parameterType="cc.niushuai.graduate.entity.EduQuestions">
		update edu_questions 
		<set>
			<if test="cusId != null">`CUS_ID` = #{cusId}, </if>
			<if test="title != null">`TITLE` = #{title}, </if>
			<if test="content != null">`CONTENT` = #{content}, </if>
			<if test="markdown != null">`markdown` = #{markdown}, </if>
			<if test="html != null">`html` = #{html}, </if>
			<if test="type != null">`TYPE` = #{type}, </if>
			<if test="status != null">`STATUS` = #{status}, </if>
			<if test="replyCount != null">`REPLY_COUNT` = #{replyCount}, </if>
			<if test="browseCount != null">`BROWSE_COUNT` = #{browseCount}, </if>
			<if test="praiseCount != null">`PRAISE_COUNT` = #{praiseCount}, </if>
			<if test="state != null">`STATE` = #{state}, </if>
			<if test="addTime != null">`ADD_TIME` = #{addTime}, </if>
			<if test="updateTime != null">`UPDATE_TIME` = #{updateTime}, </if>
			<if test="createBy != null">`CREATE_BY` = #{createBy}, </if>
			<if test="updateBy != null">`UPDATE_BY` = #{updateBy}</if>
		</set>
		where ID = #{id}
	</update>
	
	<delete id="delete">
		delete from edu_questions where ID = #{value}
	</delete>
	
	<delete id="deleteBatch">
		delete from edu_questions where ID in 
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

</mapper>